{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
    <main class="container">

        <section class="row">

            <div class="col-12 text-center">
                <h1>Panier</h1>
            </div>

            <div class="col-12">
                {% if data %}
                    <table class="table table-hover text-center">
                        <thead>
                        <tr>
                            <th scope="col">Produit</th>
                            <th scope="col">Prix</th>
                            <th scope="col">Quantité</th>
                            <th scope="col">Total</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for element in data %}
                        <tr>
                            <td>{{ element.product.name }}</td>
                            <td>{{ element.product.price / 100 }}€</td>
                            <td>{{ element.quantity }}</td>
                            <td>{{ element.quantity * element.product.price / 100}}€</td>
                            <td>
                                <a href="{{ path('app_cart_add', {id: element.product.id}) }}" class="btn"><img src="{{ asset('assets/img/icons/icon-plus.png') }}" alt="icône" style="width:19px"></a>
                                <a href="{{ path('app_cart_remove', {id: element.product.id}) }}" class="btn"><img src="{{ asset('assets/img/icons/icon-moins.png') }}" alt="icône" style="width:19px"></a>
                                <a href="{{ path('app_cart_delete', {id: element.product.id}) }}" class="btn"><img src="{{ asset('assets/img/icons/trash-can.png') }}" alt="icône" style="width:15px; height: 19px"></a>
                            </td>
                        </tr>
                        </tbody>
                        {% endfor %}
                        <tfoot>
                        <tr>
                            <td colspan="5" class="bg-light"></td>
                        </tr>
                        <tr>
                            <td colspan="3">Total</td>
                            <td>{{ total / 100}}€</td>
                            <td><a href="{{ path('app_order_add') }}" class="btn btn-outline-success">Valider le panier</a></td>
                        </tr>
                        </tfoot>
                    </table>
                {% else %}
                    <div  class="text-center mt-5">
                        <h3>Votre panier est vide</h3>
                    </div>
                    <div class="d-flex justify-content-center">
                        <img src="{{ asset('assets/img/icons/empty-cart.png') }}" alt="Panier vide">
                    </div>
                {% endif %}
            </div>


        </section>



    </main>



{% endblock %}
